[Unit]
Description=Hyprland lid handler

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/lid.sh
Environment=WAYLAND_DISPLAY=qayland-1

[Install]
WantedBy=default.target
